{% extends "base.html" %} 
{% block head %} 
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" contents="{{ keyword }}" />
{% endfor %} {% for description in article.description %}
<meta name="description" contents="{{ description }}" />
{% endfor %} {% for tag in article.tags %}
<meta name="tags" contents="{{ tag }}" />
{% endfor %} {% endblock %} 
{% block content %}
<section id="content">
    <div id="content">
        <div class="post">
            <article>
	            <h1>
		            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
			            title="Permalink to {{ article.title|striptags }}"></a>
		            {{ article.title }}
	            </h1>
	            <div class="content">{{ article.content }}</div>
	        </article>
	        
	        <div class="meta">
	            <ul>
	                <li>
	                    <strong>Published:</strong> {{ article.locale_date }}
	                </li>
	                <li>
	                    <strong>Written by:</strong> {{ article.author }}
	                </li>
	            </ul>
	        </div>
	<!--
	{% if article.modified %}
	<p class="uk-article-meta">Modified on {{
		article.modified.locale_date }}</p>
	{% endif %}
	-->
	    </div>
    </div>
</section>
{% endblock %}
